/*Background for logo*/
div.logoHeader{
  background: black;
}

.logoHeader > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/*  Slideshow  */
.mySldies {
  display: none;
}

/*Awesome Font for Icons*/
.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    size: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    background: #2B2B2B;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: white;
}

/* Twitter */
.fa-instagram {
    color: white;
}

.socialmedia{
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;
  margin-bottom: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
